<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registros citas</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>
	
	<ul class="nav nav-tabs">
	  <li class="nav-item">
	    <a class="nav-link" aria-current="page" href="/">Inicio</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" href="/reg">Registros</a>
	  </li>
	</ul><br><br>

<div class="container"><br><br>
		<div style="text-align: right;">
			<h1 class="text-center">Información de todas las Citas</h1>
		</div>
		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
					 	<th scope="col">id_cita Pago</th>
					 	<th scope="col">consultorio</th>
					 	<th scope="col">doctor</th>
					 	<th scope="col">horario_consulta</th>
					 	<th scope="col">nombre_paciente</th>
					 	<th scope="col">fecha_consulta</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="Cita : ${citas}">
						<td th:text="${Cita.id_cita}">
						<td th:text="${Cita.consultorio}">
						<td th:text="${Cita.doctor}">
						<td th:text="${Cita.horario_consulta}">
						<td th:text="${Cita.nombre_paciente}">
						<td th:text="${Cita.fecha_consulta}">
				<td><a class="btn btn-danger" th:href="@{'/eliminarCita/' + ${Cita.id_cita}}">Eliminar</a>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>